.corp-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 6rem;
    overflow: hidden !important;

    .headline {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.75rem;
    }
}