.appointments {
    width: 50%;
    .accordian-btn {
        justify-content: space-between;
    }
    .chakra-card {
        box-shadow: none;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.vertical-btn-group {
    display: flex;
    flex-direction: column;
}