.corp-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: large;
    margin: 1.5em;
    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        column-gap: 1.75rem;
        a {
            font-size: 16px;

            padding-left: 1.75em;
            padding-right: 1.75em;
        }
    }
}

@media (max-width: 768px) {
    .corp-navbar {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
