.patient-homepage {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.patient-main {
    display: flex;
    flex-direction: row;
    padding: 2em;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-grow: 1;
    
    @media screen and (max-width: 768px) {
        // Styles for mobile view
        // For example, you can use "display: none;" to hide the word "Appointment"
        // and show only the doctor name
        display: flex;
        flex-direction: column-reverse;
        padding: 2em;
        justify-content: flex-start;
        align-items: flex-start;
        flex-grow: 1;
    }
}
